
*{
    margin:0;
    padding:0;
}

/* -----------page chapitre------------------------ */
.container{
    display: flex;
}
.container .left-content{
    border:red solid 1px;
}
.container .left-content{
    flex:1;
    background-color: #F4F6F6;
}
.container .main-content{
    flex:2;
 
}
.container .right-content{
    flex:1;
    /* padding:5px; */
    background-color: #F4F6F6;
}
.container h4{
    border-bottom: gray solid 1px;
 
}
.container ul{
   
    list-style: inside;
}
