
.couleur1{
    color:rgb(226,0,26);
    color:rgb(227,0,79);
    color:rgb(226,0,122);

    color:rgb(147,17,126);
    color:rgb(23,41,131);
    color:rgb(0,106,179);
    color:rgb(0,158,224);


    color:rgb(0,151,144);
    color:rgb(0,144,54);
    color:rgb(150,191,13);

    color:rgb(255,237,0);
    color:rgb(242,148,0);
    
}