
*{
    margin:0;
    padding:0;
}

.s0{
    border: red solid 1px;
    width:300px;
    height:300px;
}
.s10{
    border: red solid 1px;
    width:301px;
}
.s20{
    border: red solid 1px;
    width:302px;

}
.s30{
    border: red solid 1px;
    width:303px;
}
.s40{
    border: red solid 1px;
    width:304px;
}
.s50{
    border: red solid 1px;
    width:305px;
}
.s60{
    border: red solid 1px;
    width:306px;
}
.s70{
    border: red solid 1px;
    width:307px;
}
.s80{
    border: red solid 1px;
    width:308px;
}
.s90{
    border: red solid 1px;
    width:309px;
}
.s100{
    border: red solid 1px;
    width:400px;
}